
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-image: url("https://st2.depositphotos.com/1001069/6825/i/450/depositphotos_68254415-stock-photo-office-desk-table-with-computer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

.cabecero {
    /* text-shadow: 4px 4px 4px rgb(255, 255, 255); */
    color: white;
    background-color: rgba(19, 19, 18, 0.541);
    width: 100%;
}


.hoja {
    background-image: url("https://img.freepik.com/vector-gratis/vector-diseno-papel-blanco-blanco_53876-161340.jpg");
    height: 700px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
    overflow: auto;
  }
  
  .hoja1 {
    transform: rotate(-2deg) translateY(-20px);
    z-index: 1;
  }
  
  .hoja2 {
    transform: rotate(0deg) translateY(0px);
    z-index: 2;
  }
  
  .hoja3 {
    transform: rotate(2deg) translateY(20px);
    z-index: 3;
  }

  .tareapendiente:hover .eliminar {
    visibility: visible;
  }
  
  .eliminar {
    visibility: hidden;
    transition: visibility 0.2s;
    cursor: pointer; 
  }
